<div class="container">
    <span>Registrar Usuário</span>
    <hr>
    <form class="row gx-3 gy-2 align-items-center">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Nome Usuário">
        </div>
        <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>

    <div class="container table-responsive mt-5">
        <div class="table-border"></div>
        <table class="table table-striped">
            <thead class="table-purple">
                <tr>
                    <th scope="col" style="font-weight: 500; color: #fff;">Nome</th>
                    <th scope="col" style="font-weight: 500; color: #fff">Email</th>
                    <th scope="col" style="font-weight: 500; color: #fff">Data</th>
                    <th scope="col" style="font-weight: 500; color: #fff"></th>
                </tr>
            </thead>
            <tbody style="border-top: none;">
                <tr>
                  <th scope="row">Teste 1</th>
                  <td>Mark@gmail.com</td>
                  <td>27/05/2022</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Teste 2</th>
                  <td>Jacob@gmail.com</td>
                  <td>27/05/2022</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Teste 3</th>
                  <td>Larry@gmail.com</td>
                  <td>27/05/2022</td>
                  <td></td>
                </tr>
              </tbody>
        </table>
    </div>
</div>