* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

#side_nav {
    background-color: #6788FF;
    min-width: 250px;
    max-width: 250px;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.sidebar li a {
    color: #fff;
    margin-bottom: 20px;
}

fa-icon {
    padding-right: 10px;
}

span {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}