input[type="text"]::placeholder {
    text-align: center;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

input[type="password"]::placeholder {
    text-align: center;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

input[type="email"]::placeholder {
    text-align: center;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.container-action-login {
    background-color: #6788FF;
    height: 100vh;
}

.container-create-account {
    height: 100vh;
}

.account-form {
    display: flex;
    justify-content: center;
    padding-top: 30%;
}

.form-control {
    max-width: 360px;
    width: 360px;
    max-height: 65px;
    height: 65px;
    margin-bottom: 10px;
    background-color: #F5F6FA;
}

.btn-primary {
    max-width: 360px;
    width: 360px;
    max-height: 65px;
    height: 65px;
    background-color: #4CBF96;
    border-color: #4CBF96;
    font-family: 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #6788FF;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    margin: auto;
    padding-top: 25%;
}