<div class="container-fluid">
    <div class="row">
        <div class="col container-action-login">
            <img src="../../../assets/banner.svg">
        </div>
        <div class="col container-create-account">
            <div class="container account-form">
                <div>
                    <div style="margin-bottom: 42px; justify-content: center; display: flex;">
                        <span>Criar Conta</span>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Usuário de acesso">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Senha de acesso">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>