<div class="container-fluid">
    <div class="row">
        <div class="col container-image">
            <img src="../../../assets/banner.svg">
        </div>
        <div class="col container-form-login">
            <div class="container login-form">
                <div>
                    <div style="margin-bottom: 42px; justify-content: center; display: flex;">
                        <span>Entrar no Sistema</span>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Digite seu usuário">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Digite sua senha">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Acessar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>